<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <div>
        <form action="{% url 'post-edit' post.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="edit">
            <label>
                <p>Text</p>
                <textarea type="description" name="description">{{ post.description }}</textarea>
            </label>
            <label>
                <p>Image</p>
                <input type="image" name="img">
            </label>
            <br>
            <br>
            <button type="submit">Edit post</button>
        </form>
        <br>
        <form action="{% url 'post-edit' post.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete">
            <button type="submit">Delete post</button>
        </form>
    </div>
</div>
</body>
</html>