{% extends 'header.html' %}

{% block title %}
    Friend page
{% endblock %}

{% block content %}
    <div class="w-75 h-100"
         style="display: none; position: absolute; z-index: 101; background-color: white; margin: 0;"
         id="group-chat-div">
        <form method="post" action="{% url 'create-group-chat' %}" class="w-50 h-50 mx-auto my-auto border border-dark p-3"
              style="position: relative;">
            {% csrf_token %}
            {{ group_chat_form.as_p }}
            <input type="submit" value="Create chat">
            <button class="mx-auto my-auto" type="button" id="close">Cancel</button>
        </form>
    </div>
    <div id="wrapper" class="w-75 mx-auto mt-2">
        <button type="button" id="start-group-chat">Start new group chat</button>
        <div class="d-flex flex-column mt-2">
            {% for room in rooms %}
                <div class="d-flex flex-column border border-dark my-1 p-2">
                    {% if room.type == False %}
                        {% for member in room.members.all %}
                            {% if member != user %}
                                <p>{{ member.name }} ({{ member.tag }})</p>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                            <p>{{ room.name }}</p>
                    {% endif %}
                    <a href="{% url 'single-chat-id' room_id=room.id %}">Go to chat room</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $('#start-group-chat').click(function (){
            $('#group-chat-div').fadeTo(1000, 1);
            $("#wrapper").css({'text-shadow': '0px 0px 10px #000'});
        });
        $('#close').click(function (){
            $('#group-chat-div').hide();
            $("#wrapper").css({'text-shadow': '0px 0px 0px #000'});
        });
    </script>
{% endblock %}