{% extends 'header.html' %}

{% block title %}
    Main page
{% endblock %}

{% block content %}
    <div class="w-75 mx-auto mt-2">
        <form class="border border-dark rounded-3 p-3"
              action="{% url 'post-add' %}"
              method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating">
                <textarea class="form-control" placeholder="Description here"
                          id="{{ post_form.description.auto_id }}"
                          name="{{ post_form.description.name }}"
                          style="height: 20vh"></textarea>
                <label for="floatingTextarea2">Description</label>
            </div>
            <br>
            <label>
                <input class="form-control-file" type="file"
                       id="{{ post_form.img.auto_id }}"
                       name="{{ post_form.img.name }}"
                       accept="image/*"
                       placeholder="Upload image">
{#                {{ post_form.img }}#}
            </label>
            <br>
            <br>
            <button class="btn btn-outline-dark" type="submit">Add post</button>
        </form>
        {% for post in posts %}
            <div class="card px-3 py-1 pb-3 mt-2">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle" style="width: 6rem; height: 6rem;" src="{{ post.user.avatar.url }}" alt="Not found...">
                        <div class="d-flex flex-column ms-3 mt-2">
                            <h5 class="card-title">{{ post.user.name }} ({{ post.user.tag }})</h5>
                            <p class="card-text"><small class="text-muted">{{ post.post_date }}</small></p>
                        </div>
                        <a class="ms-auto" href="{% url 'post-edit' post.pk %}">Изменить</a>
                    </div>
                    <p class="card-text">{{ post.description }}</p>
                </div>
                {% if post.img %}
                    <img class="card-img-bottom mx-auto"
                         style="width: 80%; height: 70vh;"
                         src="{{ post.img.url }}"
                         alt="Not found">
                {% endif %}
            </div>

            {% comment %}<div class="border border-dark px-3 py-1 mt-2">
                <p> {{ post.user }} </p>
                <p> {{ post.description }} </p>
                {% if post.img %}
                    <p><img style="width: 60%; height: 60%;" src="{{ post.img.url }}" alt="not found"/></p>
                {% endif %}
                <p> {{ post.post_date }} </p>
                <p><a href="{% url 'post-edit' post.pk %}">Изменить</a></p>
            </div>{% endcomment %}
        {% endfor %}
    </div>
{% endblock %}
