{% extends 'header.html' %}

{% block title %}
    Profile page
{% endblock %}

{% block content %}
    <div class="d-flex flex-row w-75 mx-auto justify-content-center mt-2" style="height: 40vh">
        <div class="d-flex flex-column border border-dark p-2 mx-2">
            <img style="width: 10rem;" src="{{ user.avatar.url }}" alt="Not found..."/>
            <a class="btn btn-secondary mt-3" href="{% url 'users:profile_edit' %}">Edit profile</a>
        </div>
        <table class="table table-hover w-50 border border-dark mx-2 h-100">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>Tag</td>
                    <td>{{ user.tag }}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{ user.phone_number }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Birthday</td>
                    <td>{{ user.date_of_birth }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
